<section>
    <h2>Your Dashboard</h2>
     {{#each posts as |post|}}
    <article class="post my-3 mx-4">
        <div class="title-bar">
            <a href="/dashboard/edit/{{post.id}}"><h4>{{post.title}}</h4></a>
            <h6 class="side-title">Posted by {{post.user.username}} on {{format_date post.created_at}}</h6>
        </div>
        <div class="contents" >
            <p>{{post.contents}}</p>
        </div>
    </article>
    {{/each}}
</section>

<section>
    <a href="/dashboard/new-post">
      <button>Add New Post</button>
    </a>
</section>



