<article class="post my-3 mx-4">
    <div class="title-bar">
        <h4>{{post.title}}</h4>
        <h6 class="side-title">Posted by {{post.user.username}} on {{post.created_at}}</h6>
    </div>
    <div class="contents" >
        <p>{{post.contents}}</p>
    </div>
</article>

<form class="comment-form">
    <div>
        <label for="comment-body">Comment: </label>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">Add A Comment!</button>
    </div>
</form>

<div class="comments">
    {{#each post.comments }}
    <section>
        <div>
            {{user.username}} on {{created_at}}
        </div>
        <div>
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>